---
const { name, contact } = Astro.props as { name: string; contact: any };
---

<header class="cv-header">
  <h1>{name}</h1>
  <div class="contacto">
    {contact.github} · {contact.phone} · {contact.email}
  </div>
</header>

<style>
  .cv-header h1 {
    text-align: center;
    font-size: 18pt;
    margin-bottom: 6pt;
  }
  .contacto {
    text-align: center;
    font-size: 10pt;
    margin-bottom: 16pt;
  }
</style>
