---
import Badge from "../components/Badge.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
---

<Layout
  title="Johs Salinas - Desarrollador de Software"
  description="Contrata a Johs Salinas para tu próximo proyecto de desarrollo de software"
>
  <main class="px-4">
    <SectionContainer id="top" class="py-18 pb-18">
      <img
        class="rounded-full size-12 mb-4"
        src="/logo_johs.jpeg"
        alt="Foto Johs"
      />
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-6"
      >
        Hey, Soy Johs <a
          href="https://www.linkedin.com/in/johssalinas"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl justify-center opacity-80 prose prose-invert text-pretty max-w-[700px]"
      >
        Más de <span class="text-yellow-200 font-semibold"
          >2 años de experiencia
        </span>como Desarrollador de Software. Lideré el desarrollo Embebido de
        terminales de pago en World POS Solutions, logrando un <span
          class="text-red-200 font-semibold"
          >60% de mejora en la actualización de aplicaciones</span
        >, certicación de las marcas <span class="text-yellow-200 font-semibold"
          >Visa y MasterCard</span
        > con EMV y gran conocimiento en el sector financiero.
      </h2>

      <nav class="flex gap-3 py-4 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/johssalinas">
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/johssalinas">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:johsssalinas2work@gmail.com">
          <Mail class="size-4 md:size-6" />
          johssalinas2work@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-7 flex gap-x-3 items-center">
        <BriefCase class="size-8" />Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
