---
import Badge from "../components/Badge.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
---

<Layout
  title="Johs Salinas - Desarrollador de Software"
  description="Contrata a Johs Salinas para tu próximo proyecto de desarrollo de software"
>
  <main>
    <SectionContainer class="py-22 pb-12">
      <img
        class="rounded-full size-12 mb-4"
        src="/logo_johs.jpeg"
        alt="Foto Johs"
      />
      <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, Soy Johs <a
          href="https://www.linkedin.com/in/johssalinas"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-2xl flex justify-center opacity-80 prose prose-invert text-wrap"
      >
        Más de 2 años de experiencia como Desarrollador de Software. Lideré el
        desarrollo Embebido de terminales de pago en World POS Solutions,
        logrando un 60% de mejora en la actualización de aplicaciones,
        certicación de las marcas Visa y MasterCard con EMV y gran conocimiento
        en el sector financiero.
      </h2>

      <nav class="flex gap-x-3 py-4">
        <SocialPill href="https://www.linkedin.com/in/johssalinas">
          <LinkedinIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/johssalinas">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:johsssalinas2work@gmail.com">
          <Mail class="size-6" />
          johssalinas2work@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-3xl font-semibold mb-7 flex gap-x-2 items-center">
        <BriefCase class="size-8" />Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
