---

---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/es/" />
    <script>
      // Redirección JS por idioma del navegador
      const lang = (
        navigator.language ||
        navigator.userLanguage ||
        ""
      ).toLowerCase();
      if (lang.startsWith("en")) {
        window.location.replace("/en/");
      } else {
        window.location.replace("/es/");
      }
    </script>
  </head>
  <body></body>
</html>
