---
import Badge from "./Badge.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkedinIcon from "./icons/Linkedin.astro";
import SocialPill from "./icons/SocialPill.astro";
import Mail from "./icons/Mail.astro";

interface Props {
  dict: any;
}
const { dict } = Astro.props;
---

<>
  <img
    class="rounded-full size-12 mb-4 mx-auto"
    src="/logo_johs.jpeg"
    alt="Foto Johs"
  />
  <h1
    class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-3 items-center justify-center pb-3 sm:pb-4 lg:pb-6 text-center"
  >
    Hey, Soy Johs <a
      href="https://www.linkedin.com/in/johssalinas"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center"
    >
      <Badge>{dict.about.available}</Badge>
    </a>
  </h1>
  <h2
    class="text-base sm:text-lg md:text-xl lg:text-2xl opacity-80 prose prose-invert text-pretty max-w-[700px] mx-auto text-center"
  >
    {dict.about.paragraph}
  </h2>

  <nav class="flex gap-3 py-4 flex-wrap justify-center">
    <SocialPill href="https://www.linkedin.com/in/johssalinas">
      <LinkedinIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/johssalinas">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="mailto:johsssalinas2work@gmail.com">
      <Mail class="size-4 md:size-6" />
      johssalinas2work@gmail.com
    </SocialPill>
  </nav>
</>
