<header class="sticky top-0 z-50 flex justify-center items-center py-5 w-full mx-auto bg-[#00091d]/80 backdrop-blur shadow-md">
  <span></span>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#sobremi">Sobre Mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
